package fragments

import "fmt"
import errx "financeapp/pkg/errors"

templ ErrSpanOOB(errs errx.Error) {
	for i, err := range errs {
		<ul hx-swap-oob="innerHTML" class={ "text-error", "label-text" } id={ fmt.Sprintf("%s-error", i) }>
			for _, j := range err {
				<li>{ j }</li>
			}
		</ul>
	}
}

templ ErrSpan(name string) {
	<ul class={ "text-error label-text truncate" } id={ fmt.Sprintf("%s-error", name) }></ul>
}
